.container {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}

.page-h {
  height: calc(100vh - 73px);
}

.triangle-shape {
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.serviceShape {
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

::-webkit-scrollbar {
  width: 10px; /* Remove scrollbar space */
}
::-webkit-scrollbar-track {
  background: #9a4e3d;
}
::-webkit-scrollbar-thumb {
  background: #2f2d31;
  border-radius: 50px !important;
}
#landing .slick-list {
  max-height: 100px;
}
.slick-slide {
  width: fit-content !important ;
  margin-right: 30px;
}

.serv-shape {
  clip-path: polygon(55% 14%, 97% 45%, 57% 74%, 11% 45%);
}
