@tailwind base;
@tailwind components;
@tailwind utilities;

/* rest of app styles */

body {
  font-family: "Tajawal", sans-serif;
  background-color: #f5efed;
}
.about{
  background-image:url(../src/assets/Image-10.png) ;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: multiply;

}